body {
    font-family: sans-serif;
    margin: 0; /* Remove default margin for full-page effect */
    padding: 0; /* Remove default padding for full-page effect */
    background-color: black;
    height: 100vh; /* Set body height to 100vh (viewport height) */
    display: flex; /* Allow centering of the container */
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
  }
  
  .container {
    width: 100%; /* Set container width to 100% for full-page width */
    height: 100%; /* Set container height to 100% for full-page height */
    overflow: hidden; /* Hide any image overflow */
  }
  
  img {
    width: 100%; /* Set image width to 100% for full-page width */
    height: 100%; /* Set image height to 100% for full-page height */
    object-fit: cover; /* Ensure image covers the entire container */
  }
  
